.btn-keyboard {
  @apply bg-slate-800 px-6 py-3 border border-slate-900 rounded-md font-sans font-semibold text-slate-200 text-base transition-all duration-150 ease-in-out cursor-pointer;
  @apply shadow-[inset_0_-2px_0_#0f172a,0_4px_0_#0f172a,0_6px_12px_rgba(0,0,0,0.4)];
}

.btn-keyboard:hover {
  @apply bg-slate-700;
}

.btn-keyboard:active {
  @apply translate-y-0.5;
  @apply shadow-[inset_0_-1px_0_#0f172a,0_2px_0_#0f172a,0_3px_6px_rgba(0,0,0,0.3)];
}
