@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--color-background);
  --color-primary-light: var(--color-primary-light);
  --color-primary-dark: var(--color-primary-dark);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
}

:root {
  --color-background: #0a192f;
  --color-primary-light: #112240;
  --color-primary-dark: #0c1f3a;
  --color-text-primary: #ccd6f6;
  --color-text-secondary: #8892b0;
  --color-accent: #64ffda;
}
